/* Ensure the main container fills the viewport */
main {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden; /* Prevent scrolling */
  font-family: 'Tableau', sans-serif;
  background-color: black;
}

@font-face {
  font-family: 'Switzer'; /* Name of the font */
  src: url('/fonts/Switzer.otf') format('opentype'); /* Path to the .otf file */
  font-weight: normal; /* Specify weight if needed (normal, bold, etc.) */
  font-style: normal;  /* Specify style if needed (normal, italic, etc.) */
}



.background-homepage {
  background: url('/images/landing_background.png') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.background-screen {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.766);
  position: fixed;
}

.home-ticker {
  position: relative;
  bottom: 2vh;
  right: 2.5vw;
}


.landing-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17%; /* Adjust for spacing */
  margin-right: 52%;
  animation-delay: .1s;
}

.landing-logo {
  width: 350px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}


.home-list {
  position: relative;
  top: 4vh;
}


h1 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: -10vh;
}

p {
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

.learn-btn {
  background-color: #007bff00;
  color: #c68f1f;
  padding: 8px 10px;
  font-size: 0.9rem;
  font-family: Switzer;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: all 0.2s;
  position: fixed;
  top: 49%;
  left: 18%;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.314);
  animation-delay: .3s
}


.learn-btn:hover {
  background-color: #f8b582;
  color: black;
  transform: scale(1.1);
  border: none;
  box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.314);
}

.dash-btn {
  background-color: #007bff00;
  color: #c68f1f;
  padding: 8px 10px;
  font-size: 0.9rem;
  font-family: Switzer;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: all 0.2s;
  position: fixed;
  top: 49%;
  left: 25%;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.314);
  animation-delay: .6s
}


.dash-btn:hover {
  background-color: #f8b582;
  color: black;
  transform: scale(1.1);
  border: none;
  box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.314);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  button {
    font-size: 1rem;
  }
}

/* Ensure proper font loading */
@font-face {
  font-family: 'Tableau';
  src: url('/fonts/Tableau.ttf') format('truetype');
}
