Reset default browser styling
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  background-color: #000000;
  color: #333;
  line-height: 1.6;
}

@font-face {
  font-family: 'Tableau';
  src: url('/fonts/Tableau.ttf') format('truetype');
}



main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: #222;
}

p {
  margin-bottom: 1.5rem;
}


a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 0.8rem 1.5rem;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


.text-center {
  text-align: center;
}

.nextjs-portal {
  display: none;
}
