* {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  font-family: 'Tableau';
  z-index: 9999;
}

.dashboard-logo {
  position: absolute;
  top: 7%;
  left: 1.7%;
  width: 150px;
  height: auto;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 40px;
  text-align: center;
  background-color: #000000;
}

.dashboard-header h1 {
  font-size: 2rem;
  margin-top: 45px;
  text-align: center;
  background-color: #000000;
}

.dashboard-header p {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-top: -15px;
  background-color: #1a1a1a;
}

.dashboard-layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.toggle-button {
  position:fixed ;
  top: 7.5vh;
  left: 11vw;
  background-color: #ffffff00;
  color: #c68f1f;
  padding: 3px 3px;
  border: 1px solid #c68f1f;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  z-index: 9999;
}

.toggle-button:hover {
  background-color: #c68f1f;
  color: black;
}

.scrollable-list {
  background: #9eb81a00;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 14.5vw;
  top: 2vh;
  overflow: hidden;
  z-index: 9999;
  transition: height 0.5s ease, padding 0.5s ease;
}

.scrollable-list.open {
  height: 8.5%;
  width: 78%;
  padding: 15.5px;
}

.scrollable-list.closed {
  height: 0%;
  animation: wrapUp 5s ease forwards; 
  padding: 0;
  border: none;
}

@keyframes wrapUp {
  from {
    width: 78%;
  }
  to {
    width: 0;
  }
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 10px;
  width: 100%;
  max-height: 40%;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  position: relative;
  scrollbar-width:auto; 
  scrollbar-color: #c68f1f #1a1a1a; 
  animation: loopScroll 40s linear infinite; 
}
@keyframes loopScroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-300%); 
  }
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
  color: red;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: #ff0000;
  border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #c68f1f;
  border-radius: 4px;
}

.price-box {
  flex: 0 0 auto;
  width: 110px;
  height: 85%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid rgba(140, 140, 140, 0.154);
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.horizontal-scroll .price-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 3px 6px #c68f1f;
}

.coin-label {
  display: flex;
  flex-direction: column;
  font-size: 90%;
  font-weight: bolder;
  padding: 0px;
  color: #c68f1f;
}

.crypto-price {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
  font-weight: 700;
  color: #ffffff;
  font-size: 90% !important;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  width: 7.5%;
  position: absolute;
  left: 2vw;
  top: 23vh;
  min-height: 10px !important;
  max-height: 3px !important;
  padding: 9px;
  margin-left: -10px;
  border: 1px solid #b19e43;
  border-radius: 6px;
  font-size: 0.7rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f0d75a00;
  color: rgb(255, 255, 255);
  z-index: 9999 !important;
}

.search-bar:focus {
  outline: none;
  border-color: #483389;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 123, 255, 0.5);
  caret-color: white;
}

.search-bar::placeholder {
  color: #a4a4a4;
  font-style: italic;
  font-size: 0.75rem;
}

.no-results {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  padding: 20px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 1220px);
  align-content: center;
  margin-left: 130px;
  margin-top: 150px;
  height: 90vh;
  width: 100%;
  background-color: #000000;
}

.holdings-summary {
  background-color: #ffffff12;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  height: 78%;
  width: 85%;
  position: absolute;
  bottom: 2.5%;
  left: 11%;
  display: flexbox;
  align-self: center;
}

.holdings-summary h2 {
  color: #d8dbe7;
  font-size: 20px;
  font-weight: bolder;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-left: 30px;
  text-align: center;
  background-color: #1a1a1a00;
}

.balance-info {
  background-color: rgba(0, 0, 0, 0.629);
  display: flexbox;
  width: 25%;
  height: 25%;
  align-self: center;
  border: 1px solid #c68f1f;
  border-radius: 22px;
  position: relative;
  top: 10%;
  left: 0.5%;
}

.current-balance {
  font-size: 18px;
  font-weight: bold;
  color: #d8dbe7;
  margin-top: 50px;
  margin-left: -200px;
  position: relative;
  top: -3.5vh;
  left: 50%;
  z-index: 9999;
  max-width: 300px;
  background-color: #1a1a1a00;
}

.monthly-recap {
  display: flex;
  flex-direction: row;
  gap: 75px;
  font-size: 12px;
  position: relative;
  text-align: center;
  left: 26%;
  top: 18%;
  z-index: 9999;
  background-color: #1a1a1a00;
  color: #d8dbe7;
  font-weight: 500;
}

.monthly-recap p {
  background-color: #1a1a1a00;
}

.styled-line-break {
  border: none;
  border-top: 2px solid #b19f4337; 
  width: 80%; 
  margin: 10px auto; 
  position: relative;
  top: 35px;
}

.chart-placeholder {
  width: 15%;
  height: 300px;
  padding: 16px;
  border-radius: 12px;
  color: #483389;
  font-weight: bold;
  border: 1px solid #c68f1f;
  background-color: #1a1a1a00;
  position: absolute;
  top: 15vh;
  left: 15vw;
}


button:hover {
  background-color: #0056b3;
}

@font-face {
  font-family: 'Tableau';
  src: url('/fonts/Tableau.ttf') format('truetype');
}

.button-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 3.3%;
  gap: 55px;
}

.stacked-button {
  display: block;
  width: 120%;
  padding: 12px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffffbc;
  border: 2px solid #c68f1f;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.home-button,
.holdings-button,
.analytics-button,
.charts-button,
.settings-button {
  background-color: #1a1a1a00;
}

.stacked-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 6px #c68f1f;
  color: #ffffff;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}
