* {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  font-family: 'Tableau';
  z-index: 9999;
}

.dashboard-logo {
  position: absolute;
  top: 0%;
  left: 1.5%;
  width: 180px; /* Adjust as needed */
  height: auto;
}


.dashboard-header {
  text-align: center;
  margin-bottom: 40px;
  text-align: center;
  background-color: #000000;
}

.dashboard-header h1 {
  font-size: 2rem;
  margin-top: 45px;
  text-align: center;
  background-color: #000000;
}

.dashboard-header p {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-top: -15px;
  background-color: #1a1a1a;
}

.dashboard-layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.toggle-button {
  position: fixed;
  top: 7vh;
  left: 12vw;
  background-color: #ffffff00;
  color: #b19e43;
  padding: 5px 5px;
  border: 1px solid #b19e43;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  z-index: 1000;
}

.toggle-button:hover {
  background-color: #b19e43;
  color: black;
}

.scrollable-list {
  background: #9eb81a00;
  padding: 8px;
  border-radius: 8px;
  /* border: 0.5px solid #b19e43; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 13.5vw;
  top: 0vh;
  transition: max-height 0.8s ease, padding 0.8s ease;
  overflow:hidden;
  z-index: 9999;
}

.scrollable-list.open {
  max-height: 12.5%;
  width: 78%;
  padding: 12px;
  z-index: 9999;
}

.scrollable-list.closed {
  height: 11%;
  width: 1px;
  padding: 0;
  border: none;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: auto;
  padding: 10px;
  width: 100%;
  max-height: 50%;
  scrollbar-width: thin;
  scrollbar-color: #b19e43 #1a1a1a;
  flex: 0 0 auto;
  margin-right: 3px;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 20px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #b19e43;
  border-radius: 4px;
}

.price-box {
  flex: content;
  width: 480px;
  height: 85%;
  padding: 9px;
  padding-bottom: 0px;
  border: 2px solid rgba(140, 140, 140, 0.154);
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.horizontal-scroll .price-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 3px 6px #f0d85a;
}

.coin-label {
  display: flex;
  flex-direction: column;
  font-size: 90%;
  font-weight: bolder;
  padding: 0px;
  color:#b19e43;
}

.crypto-price {
  display: flex;
  flex-direction: column;
  gap: 0.1vh;
  font-weight: 700;
  color: #ffffff;
  font-size: 90% !important;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  width: 12.9%;
  min-height: 3px !important;
  max-height: 3px !important;
  padding: 9px;
  margin-top: -120px;
  margin-bottom: -5px;
  margin-left: 10px;
  border: 1px solid #b19e43;
  border-radius: 6px;
  font-size: 0.7rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f0d75a00;
  color: rgb(255, 255, 255);
  z-index: 9999;
}

.search-bar:focus {
  outline: none;
  border-color: #483389;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 123, 255, 0.5);
  caret-color: white;
}

.search-bar::placeholder {
  color: #a4a4a4;
  font-style: bold;
  font-size: 13px;
}

.no-results {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  padding: 20px;
}

.monthly-recap {
  display: flex;
  flex-direction: row;
  gap: 55px;
  font-size: 20px;
  position: absolute;
  left: 78vw;
  top: 27.8vh;
  z-index: 9999;
  background-color: #1a1a1a00;
  color: rgba(128, 128, 128, 0.938);
  font-weight: bolder;
}

.monthly-recap p {
  background-color: #1a1a1a00;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 1220px);
  align-content: center;
  margin-left: 130px;
  margin-top: 150px;
  height: 90vh;
  width: 100%;
  background-color: #000000;
}

.holdings-summary {
  background-color: #1a1a1a5e;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  height: 75%;
  width: 85%;
  position: absolute;
  bottom: 3.5%;
  left: 11%;
  display: flexbox;
  align-self: center;
}

.holdings-summary h2 {
  color: rgb(150, 150, 150);
  font-size: 30px;
  margin-top: 18px;
  margin-bottom: 10px;
  background-color: #1a1a1a00;
}

.balance-info {
  display: flexbox;
  width: 30%;
  align-self: center;
  border:2px solid #b19e43;
  position: relative;
  top: 20%;
}

.current-balance {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.938);
  margin-top: 50px;
  position: relative;
  top: -10vh;
  left: 28vw;
  z-index: 9999;
  max-width: 300px;
  background-color: #1a1a1a00;
}

.chart-placeholder {
  color: red;
  background-color: #1a1a1a00;
  position: relative;
  top: 25vh;
  right: 30vw;
}

.chart-container {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  z-index: 9999 !important;
}


/* .holdings-summary .chart-container canvas {
  width: 70%;
  height: 100% !important;
  border-radius: 14px;
  display: block;
  background-color: red;
} */

button:hover {
  background-color: #0056b3;
}


@font-face {
  font-family: 'Tableau';
  src: url('/fonts/Tableau.ttf') format('truetype');
}

.button-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 3.5%;
  gap: 55px;
}

.stacked-button {
  display: block;
  width: 120%;
  padding: 12px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffffbc;
  border: 2px solid #b19e43;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.home-button,
.holdings-button,
.analytics-button,
.charts-button,
.settings-button {
  background-color: #1a1a1a00;
}

.stacked-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 6px #b19e43;
  color: #ffffff;
}
